<!--<!DOCTYPE web-app PUBLIC-->
 <!--"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
 <!--"http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false" version="3.0">
    <display-name>mySCILHS Survey Manager</display-name>

    <!--&lt;!&ndash; Container-based security constraints &ndash;&gt;-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public resources</web-resource-name>
            <url-pattern>/</url-pattern>
            <!--<url-pattern>/*</url-pattern>-->
            <url-pattern>/trigger/**</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administration</web-resource-name>
            <url-pattern>/admin/config</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>myscilhs-sm</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Define the Login Configuration for this Application -->
    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>mySCILHS Survey Manager</realm-name>-->
    <!--</login-config>-->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/login_fail</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>myscilhs-sm</role-name>
    </security-role>
</web-app>
